
/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');



/* RESETS */
*,
*::before,
*::after{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

ul,
ol{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.img{
  display: box;
  width: 100%; height: 100%;
}

button{
  border: none;
  outline: none;
  background: none;
}

h2{
  line-height: 1.1;
}


/* DEFAULTS */
:root{
  /* COLOR VARIABLES */
  --color-primary: #16F98A;
  --color-secondary-light: #115A36;
  --color-secondary-mid: #134338;
  --color-secondary-dark: #05220B;
  --color-surface-1dp: #BFD2C8;
  --color-surface-2dp: #8EB0A0;
  --color-light: #FFFFFF;
  --color-dark: #040405;
  --color-light-grey: #9E9E9E;
  --color-dark-grey: #757575;
  --color-background-primary: #E1EAE6;
  --color-warning: #E74C3C;
  --color-gradient: linear-gradient(135deg,#05220b 0%, #134338 37%, #16f98a 100%);

  /* FONT TYPE VARIABLES */
  --font-primary: "Space Grotesk", sans-serif;
  --font-secondary: "Noto Sans", sans-serif;

  /* FONT TYPE VARIABLES */
  --font-size-xs: 0.694rem;
  --font-size-s: 0.833rem;
  --font-size-p: 1rem;
  --font-size-h1: 2.986rem;
  --font-size-h2: 2.488rem;
  --font-size-h3: 2.074rem;
  --font-size-h4: 1.728rem;
  --font-size-h5: 1.44rem;
  --font-size-h6: 1.2rem;
}

html{
  font-size: 12px;
  scroll-behavior: smooth;
}

body{
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  font-family: var(--font-secondary);
  color: var(--color-dark);
}

#app{
  height: 100%;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  background-color: var(--color-dark);
}


/*  */
@media screen and (min-width: 360px) {
  html{
    font-size: 14px;
  }
}

/*  */
@media screen and (min-width: 375px) {

  #app{
    padding: 30px;
  }
}

/*  */
@media screen and (min-width: 412px) {
  html{
    font-size: 16px;
  }

}


/* COMPONENTS STYLING */