
#app{
  background-color: var(--color-background-primary);
}

.auth__wrapper .auth__button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px; height: 32px;
  font-size: var(--font-size-h2);
}


/* MAIN */
.auth__wrapper{
  width: 100%; height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.auth__wrapper .back__button{
  position: absolute;
  left: -8px; top: -6px;
}

.auth__wrapper .heading__wrapper{
  margin: 20% 0 10%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.heading__wrapper h2{
  font-family: var(--font-primary);
  font-size: var(--font-size-h2);
}

.heading__wrapper p{
  font-size: var(--font-size-s);
  color: var(--color-light-grey);
}

.auth__form .input__wrapper{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 8px;
}

.auth__form .input__box{
  width: 100%; height: 30px;
  position: relative;
}

.input__box label{
  position: absolute;
  color: var(--color-dark-grey);
  top: 50%; left: 0;
  transform: translateY(-50%); 
  transition: opacity .3s ease-in-out;
  pointer-events: none;
}

.input__box input{
  border: none; outline: none;
  background: none;
  width: 100%; height: 100%;
  color: var(--color-dark);
  border-bottom: 1px solid var(--color-light-grey);
  font-family: inherit;
  font-size: inherit;
}

.input__box input:valid~label,
.input__box input:focus~label,
.input__box input:not(:placeholder-shown)~label{
  opacity: 0;
}

.input__box input:placeholder-shown~label{
  color: var(--color-dark-grey);
  opacity: 1;
}

.auth__hint{
  font-size: var(--font-size-s);
  color: var(--color-warning);
  display: flex;
  align-items: center;
}

.hint__text{
  transition: opacity 0.4s ease;
  opacity: 0;
}

.form__footer{
  position: absolute;
  width: 100%;
  bottom: 8px; left: 50%;
  transform: translateX(-50%);
}

.form__button{
  font-size: var(--font-size-p);
  padding: 12px 24px;
  margin-bottom: 8px;
  display: flex;
  justify-self: center;
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 8px;
  box-shadow: 1px 1px var(--color-primary);
}

.auth__option{
  font-size: var(--font-size-s);
  justify-self: center;
} 

.auth__option span{
  text-decoration: underline;
  color: var(--color-secondary-mid);
} 


 @media screen and (min-width: 360px){
  .auth__wrapper .auth__button{
    width: 40px; height: 40px;
  }

  .auth__wrapper .heading__wrapper{
    margin: 30% 0 15%;
  }

  .auth__form .input__wrapper{
    gap: 20px;
    margin-bottom: 16px;
  }

  .auth__form .input__box{
    height: 40px;
    position: relative;
  }

  .form__footer{
    bottom: 16px;
  }

  .form__button{
    padding: 16px 28px;
    margin-bottom: 16px;
    box-shadow: 2px 2px var(--color-primary);
  }
}

@media screen and (min-width: 375px){
  .auth__wrapper .back__button{
    left: -16px; top: -12px;
  }
}

