#app{
  background-color: var(--color-background-primary);
}


/* MAIN */
.space__wrapper{
  display: grid;
  grid-template-rows: 6% 18% auto 70px;
  grid-gap: 1.5rem;
  width: 100%; height: 100%;
}

.space__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__text{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header__text h5{
  font-size: var(--font-size-h5);
  font-family: var(--font-primary);
}

.header__text p{
  font-size: var(--font-size-s);
  font-family: var(--font-secondary);
  color: var(--color-light-grey);
}

.header__img{
  max-width: 50px; max-height: 50px;
}

.space__visual{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-surface-1dp);
  width: 100%; height: 100%;
  padding: 1rem 2rem;
  border-radius: .7rem;
}

.visual__text{
  font-size: var(--font-size-h5);
  font-family: var(--font-primary);
}
.visual__img{
  height: 100%;
}

.list__wrapper{
  /* background-color: #00000088; */
  height: 100%;
  overflow-y: scroll;
}

.space__nolist{
  text-align: center;
  font-size: var(--font-size-s);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nolist__caption{
  color: var(--color-light-grey);
}

.space__list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.space__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__label{
  display: flex;
  gap: .5rem;
  align-items: center;
  width: 85%;
  padding: .7rem 1rem;
  color: var(--color-light);
  background-color: var(--color-surface-2dp);
  border-radius: .5rem;
  text-transform: capitalize;
}


input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom__checkbox{
  display: inline-block;
  width: var(--font-size-p); height: var(--font-size-p);
  border: 1px solid var(--color-light);
  border-radius: 100%;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + .custom__checkbox{
  border: none;
  background-color: var(--color-light); 
}

input[type="checkbox"]:checked ~ p{
  text-decoration: line-through;
  opacity: .5;
}

.item__delete{
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__nav{
  /* background-color: lightblue; */
  height: 100%; width: 55%; max-width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  font-size: var(--font-size-xs);
}

.icon__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon__wrapper.icon{
  gap: 4px;
}

.icon__wrapper.add{
  width: var(--font-size-h1);
  background-color: var(--color-secondary-light);
  align-self: flex-start;
  padding: var(--font-size-xs);
  border-radius: 100%;
}