#app{
  background-color: var(--color-background-primary);
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.image > img{
  display: box;
  width: 100%; height: 100%;
}


/* MAIN */

.menu__wrapper{
  display: grid;
  grid-template-rows: 50px auto auto;
  grid-gap: 1.5rem;
}

.back__button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px; height: 100%;  
  font-size: var(--font-size-h2);
  cursor: pointer;
}

.menu__header{ 
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  position: relative;
}

.menu__title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-h5);
  font-family: var(--font-primary);
}

.detail__wrapper{
  display: grid;
  grid-template-rows: 75px 75px 100px;
  grid-template-areas:
    "profile profile milestone milestone"
    "profile profile milestone milestone"
    "status status milestone milestone"
  ;
  grid-gap: 20px;
  width: 100%;
}

.profile__detail{
  grid-area: profile;
  background-color: var(--color-secondary-mid);
  color: var(--color-light);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 32px 24px;
  border-radius: 16px;
  width: 100%; height: 100%;
}

.profile__detail .profile__img{
  width: 60px;
}

.profile__text{
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: var(--font-primary);
}

.profile__text .profile__name{
  text-transform: capitalize;
}

.profile__text .profile__mail{
  font-size: var(--font-size-s);
  color: var(--color-surface-1dp);
}

.status__detail{
  grid-area: status;
  background-color: var(--color-surface-1dp);
  padding: 32px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  width: 100%; height: 100%;
}

.status__icon{
  width: 40px;
}

.status__divider{
  width: 2px;
  height: 100%;
  background-color: var(--color-secondary-mid);
  border-radius: 4px;
}

.status__taskXP{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.status__task{
  font-family: var(--font-primary);
  font-size: var(--font-size-s);
  font-weight: 500;
}

.status__xp{
  font-size: var(--font-size-xs);
}


.milestone__wrapper{
  grid-area: milestone;
  background-color: var(--color-surface-1dp);
  padding: 32px 24px;
  border-radius: 16px;
  width: 100%; height: 100%;
}

.milestone__detail{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 48px;
  width: 100%; height: 100%;
  overflow: scroll;
}

.level__milestone{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.milestone__badge{
  width: 50px;
}

.milestone__desc{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.milestone__title{
  font-family: var(--font-primary);
  font-size: var(--font-size-s);
  text-transform: capitalize;
  font-weight: 500;
}

.milestone__range{
  font-size: var(--font-size-xs);
  text-transform: uppercase;
}


.menu__wrapper--list{
  width: 100%; height: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 32px;
}

.menu__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__iconTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.item__title{
  font-family: var(--font-primary);
  text-transform: capitalize;
}

.item__iconTitle .hint{
  font-size: var(--font-size-s);
  color: var(--color-light-grey);
}

.item__icon{
  width: 24px;
}

.item__nav{
  width: 8px;
}

a.menu__item{
  pointer-events: none;
}

@media screen and (max-width: 376px){
  .detail__wrapper{
    display: grid;
    grid-template-rows: 75px 75px 75px;
    grid-gap: 16px;
  }

  .profile__detail{
    padding: 24px 16px;
  }

  .profile__detail .profile__img{
    width: 50px;
  }

  .status__detail{
    padding: 24px 16px;
  }

  .status__icon{
    width: 32px;
  }

  .status__divider{
    width: 1.5px;
    border-radius: 2px;
  }

  .milestone__wrapper{
    padding: 24px 16px;
  }

  .milestone__detail{
    gap: 40px;
  }

  .menu__wrapper--list{
    gap: 24px;
    margin-top: 16px;
  }

  .item__icon{
    width: 16px;
  }

  .item__nav{
    width: 6px;
  }
}


@media screen and (max-width: 321px){
  .menu__wrapper{
    grid-template-rows: 30px auto auto;
    grid-gap: 1rem;
  }

  .back__button{
    width: 24px; height: 100%;
  }

  .detail__wrapper{
    display: grid;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 12px;
  }

  .profile__detail{
    border-radius: 12px;
  }

  .profile__detail .profile__img{
    width: 40px;
  }

  .status__detail{
    padding: 12px 16px;
    border-radius: 8px;
  }

  .status__icon{
    width: 20px;
  }

  .milestone__wrapper{
    border-radius: 12px;
  }

  .milestone__detail{
    gap: 32px;
  }

  .milestone__badge{
    width: 28px;
  }
  .menu__wrapper--list{
    gap: 18px;
  }
}